//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

//blog 
// -------------------------
$blogColor:             #a82400;
$logoColor:             #333;
$linkColor:             #a82400;
$linkColorHover:        lighten($linkColor, 5%);
$colorReturnTop:        #fff;

$titleColor:            #333;

