<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="forsigner的博客,On the way of frontend,love design">
    <meta name="keywords" content="forsigner, 前端开发, 用户体验, 设计, frontend, design">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    <link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/static/css/style.min.css" />

</head>

<body>
    <section class="sidebar">
        <div class="inner-sidebar text-right">
            <div class="blog-brand">
                <a class="show" href="/">
                    <div class="blog-logo dib">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="blog-name">{{ site.title }}</div>
                </a>
            </div>
            <aside class="blog-description">On the way of frontend,love design</aside>
            <ul id="blog-nav" class="blog-nav ">
                <li><a href="/">home</a><i class="dib active"></i></li>
                <li><a href="/blog/">blog</a><i class="dib"></i></li>
                <li><a href="/about/">about</a><i class="dib"></i></li>
                <!--
                <li><a href="/tags/">tags</a><i class="dib"></i></li>
                <li><a href="/categories/">categories</a><i class="dib"></i></li>
                <li><a href="/page/">page</a><i class="dib"></i></li>
                :w
                -->
            </ul>
        </div>
    </section>

    <section class="content">
        <div class="inner-content">
        {{ content }}
        </div>
    </section>
    <div id="back-to-top" class="back-to-top"></div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38189205-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="{{ ASSET_PATH }}/static/js/LAB.min.js"></script>
    <script>
       $LAB
       .script("{{ ASSET_PATH }}/static/js/fs.min.js")
       .wait(function(){
            Forsigner.init();
       });
    </script>

</body>
</html>
