<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="forsigner的博客,On the way of frontend,love design">
    <meta name="keywords" content="forsigner, 前端开发, 用户体验, 设计, frontend, design">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles 
    <link href="{{ ASSET_PATH }}/static/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/static/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    -->

    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <link rel="stylesheet/less" type="text/css" href="{{ ASSET_PATH}}/static/less/style.less" />

    <!--
    <link rel="stylesheet/less" type="text/css" href="{{ ASSET_PATH }}/static/less/style.less" />
    <script src="{{ ASSET_PATH }}/static/js/modernizr.js"></script>
    -->
    <script src="{{ ASSET_PATH }}/static/js/jquery-1.9.0.min.js"></script>
    <script src="{{ ASSET_PATH }}/static/js/forsigner.js"></script>
    <script src="{{ ASSET_PATH }}/static/js/less-1.3.3.min.js"></script>

</head>

<body>
    <section class="sidebar">
        <div class="inner-sidebar text-right">
            <div class="blog-brand">
                <a class="show" href="/">
                    <div class="blog-logo dib">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="blog-name">{{ site.title }}</div>
                </a>
            </div>
            <aside class="blog-description">On the way of frontend,love design</aside>
            <ul id="blog-nav" class="blog-nav ">
                <li><a href="/">home</a><i class="dib active"></i></li>
                <li><a href="/blog/">blog</a><i class="dib"></i></li>
                <li><a href="/about/">about</a><i class="dib"></i></li>
                <!--
                <li><a href="/tags/">tags</a><i class="dib"></i></li>
                <li><a href="/categories/">categories</a><i class="dib"></i></li>
                <li><a href="/page/">page</a><i class="dib"></i></li>
                :w
                -->
            </ul>
        </div>
    </section>

    <section class="content">
        <div class="inner-content">
        {{ content }}
        </div>
    </section>
    <div id="back-to-top" class="back-to-top"></div>
    {% include JB/analytics %}
</body>
</html>
